body {
    font-family: 'Poppins', sans-serif;

}

* {
    margin: 0;
    padding: 0;

}


.Top-head-body {
    background-image: url(images/donation1.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    color: white;


}

.Top-head {
    color: yellow;
    text-align: justify, center;
    padding: 50px;
}

.Link-button {
    background-image: linear-gradient(orange, tomato);
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-decoration: none;


}


h1 {
    font-size: 50px;
    text-align: center;

}

h2 {
    font-size: 30px;
    text-align: center;

}

.donate-today {
    text-align: center;
    background-color: darkgray;
}

.amount-tk {
    font-size: 25px
}

.half-width {

    width: 20%;
    padding: 5px;


}

#red2 {
    width: 10%;
    color: red;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(223, 156, 156);
    border: 2px solid red;
    font-size:
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.Our-Donate-Plan {

    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
    border-left: 7px solid gray;
    text-align: center;
}

.mid-part-2 {
    font-size: 20px;
    text-align: center;
}


#food {
    background-color: antiquewhite
}

#shelter {
    background-color: lightpink
}

#Education {
    background-color: lightgoldenrodyellow
}





.your-donation {
    text-align: center;
    background-color: yellow;
}



.Email-box {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background: #ececee;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.form-box {
    padding: 10px;
    border-radius: 5px;
    background: #ececee;
    box-shadow: 10px 10px 15px #c7c4c4, -10px -10px 15px #fff;

}

.form-box input {
    font-size: 18px;
    color: #000;
    padding: 15px 10px;
    border: none;
    outline: none;
    background: #ececec;

}

.form-box button {
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #4769d8;
    cursor: pointer;
    transition: 3s;
}

.form-box button:hover {
    background-image: linear-gradient(orange, tomato);

}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}

.foot {
    font-size: 10px;
}